<div class="container">
  <h1>Add Thing to do</h1>
  <div class="idkmate">
    <form [formGroup]="taskForm" (ngSubmit)="onSumit()">
      <div class="form-group">
        <label for="thing">Thing to do : </label>
        <input
          type="text"
          pInputText
          class="form-control"
          formControlName="thing"
          ngModel
          maxlength="50"
        />
        <small
          id="thing-help"
          style="color: red"
          class="p-error"
          *ngIf="
            taskForm.controls['thing'].invalid &&
            taskForm.controls['thing'].touched
          "
          >Please Insert Something</small
        >
      </div>
      <div class="form-group">
        <label for="date">date : </label>
        <input
          type="date"
          class="form-control"
          formControlName="date"
          ngModel
          max="2023-12-31"
          onkeydown="return false"
          required
        />
      </div>
      <div class="form-group">
        <label for="time">Time : </label>
        <input
          type="time"
          class="form-control"
          formControlName="time"
          required
        />
      </div>
      <div class="form-group">
        <label for="description">Description : </label>
        <input
          type="text"
          class="form-control"
          formControlName="description"
          ngModel
          maxlength="50"
          required
        />
        <small
          id="description-help"
          style="color: red"
          class="p-error"
          *ngIf="
            taskForm.controls['description'].invalid &&
            taskForm.controls['description'].touched
          "
          >Please Insert Something</small
        >
      </div>
      <div class="form-group">
        <button class="btn-primary btn-block" type="submit">Add To Do</button>
      </div>
    </form>
  </div>
</div>
